.dot {
  width: 10px;
  height: 100%;
  border-radius: 50%;
}

.dot--default {
  background-color: yellow;
}

.dot--added {
  background-color: #39c0de;
}

.dot--audited {
  background-color: #01ff95;
}